/* This file contains all the css of the game */

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
body {
  overflow: hidden;
  margin: 0 auto;
  background-color: black;
}
